@import '../mixin/setting';
@import '../mixin/prefix';
@import '../mixin/font';
@import '../mixin/layout';
@import '../mixin/flex';
@import '../mixin/color';
@import '../mixin/mixin';
// setting | auto;
$header-height: 40px;
$block-type: setting;
@mixin section-setting{
  @content;
}
.section {
  width:500px;
  @include backgroundColor($gray);
  &-header,.header-more{
    @include display-flex;
  }
  &-header{
    @include justify-content(space-between);
  }
  .header-more{
    @include justify-content(flex-start);
  }
  .header-title,.more-text,.more-icon{
    @include ellipsis(80px);
  }
  .header-title{

    // @include ellipsis(40px);
    @include font-face($base-fontfamily, null, normal, normal);
    @include height($header-height);
  }
  &-item{
    @include font-face($base-fontfamily, null, normal, normal);
  }
}